body {
    font-family: 'Poppins', sans-serif;
    background-color: #EDEEC9;
}

/* Center the form */
.user-profile-container {
    max-width: 600px; /* Adjust width */
    margin: 50px auto;
    padding: 20px;
}

/* card */
.user-profile-form {
    border-radius: 12px;
    padding: 25px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.user-profile-form .form-control,
.user-profile-form .form-select {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
}

/* invalid inputs */
.user-profile-form .is-invalid {
    border-color: #e63946;
    background-color: #ffebee;
}

/* shadow */
.user-profile-form input:focus,
.user-profile-form select:focus,
.user-profile-form textarea:focus {
    border-color: #4CAF50; /* Light green */
    box-shadow: 0px 0px 5px rgba(76, 175, 80, 0.5);
}

/* Error messages */
.invalid-feedback {
    font-size: 14px;
    color: #e63946;
}

/* submit button */
.user-profile-form .btn-primary {
    background-color: #4CAF50;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px 15px;
    width: 100%;
    border: none;
    transition: background 0.3s ease-in-out;
}

.user-profile-form .btn-primary:hover {
    background-color: #45a049;
}

/* skills dropdown */
.user-profile-form .react-select__control {
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* Availability */
.availability-list {
    padding: 0;
    list-style: none;
}

.availability-list li {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

/* delete button */
.user-profile-form .btn-danger {
    background-color: #C0C0C0;
    border: none;
    width: 24px;
    height: 24px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.user-profile-form .btn-danger:hover {
    background-color: #808080;
}

/* date picker */
.react-datepicker-wrapper {
    width: 100%;
}